html {
  height: 100%;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

body {
  letter-spacing: 0;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(90deg, #006cc5, #e8e895);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-weight: 700;
  text-align:center;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  margin: 0px;
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 15px 25px;
}

a {
  color: white;
  text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 48px;
  text-align: center;
  font-family: math;
  color: rgb(255, 255, 255);
}

input, textarea {
  font-weight: 700;
  border-radius: 50px;
  width: 100%;
  padding: 40px;
  margin: 12px;
  border-width: 4px;
  font-size: 25px;
  color: black;
  font-style: italic;
  font-family: 'Mulled Wine Season', sans-serif;
}

.page-container {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 2520px) {
  /*sponsorship*/
}

@media all and (max-width: 2100px) {
  /*Donate*/
  .text-items, .text-items-one {
    font-size: 20px;
  }

  .section-three-two {
    justify-content: flex-start;
  }

  #donate-b-logo {
    width: 35%;
  }


}

@media all and (max-width: 1760px) {
  .package {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 1620px) {
  /*index page*/
  .index-container {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .vision-squares a h2 {
    font-size: 35px;
  }
/*sponsorship page*/


  /*Past Events*/

  .backpack p, .two-women p, .video p {
    font-size: 24px;
}

  /*Donate*/

  .donate-section-one {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-items, .text-items-one {
    font-size: 16px;
  }

  .section-three-two p {
    font-size: 30px;
  }

  .donate-image {
    width: 50%;
    margin-top: 50px;
    margin-bottom: -40px;
  }

  .donate-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0px;
    justify-content: center;
    gap: 15px;
  }

  .items-items {
    margin-right:0px;
  }

  .section-three-two {
    margin-top: 0px;
  }

}

@media all and (max-width: 1300px) {
  /*index page*/
  .layout {
    display: flex;
    flex-direction: column;
  }

  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 40%;
  }

  .right-section {
    justify-items: center;
  }

  .vision-squares {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 275px;
  }

  .index-container {
    position: static;
  }
  /*about page*/
  .paragraph p {
    font-size: 20px;
  }

  .paragraph h2 {
    font-size: 40px;
  }

  .mobile-page-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  input {
    font-size: 17px;
    padding: 30px;
  }

  /*contact*/ 

  .contact-form {
    font-size: 21px;
  }

  .contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .contact-section-two h2 {
    font-size: 60px;
  }

  /*Donate*/

  .section-three-two {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-top: 0px;
  }



}

@media all and (max-width:1100px) {
  /*index page*/
  .vision-squares a h2 {
    font-size: 35px;
  }
/*board games page*/
  .game-middle p {
    margin-top: 70px;
  }

  .contact-sections {
    display: flex;
    flex-direction: column;
  }

  /*contact*/

  
.contact-logo-container img {
  display: flex;
  flex-direction: column;
  position: static;
  width: 40%;
  margin-top: 20px;
}

.contact-logo-container {
  align-items: center;
  position: static;
}

.contact-sections {
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  margin-right: auto;
}

  /*past-events*/

  .past-events {
    flex-direction: column;
  }

  .past-events-layout {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  /*Donate*/ 

  .donate-section-two {
    display: flex;
    flex-direction: column-reverse;
  }

  .donate-section-three div {
    margin-top: 0px;
  }

  .msg-style h2 {
    font-size: 38px;
  }

  .donate-section-one div h1 {
    font-size: 38px;
  }

  /*support*/

  .support {
    flex-direction: column;
  }

  .image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .image-text img {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .package {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .support-nav-color {
    display: flex;
    align-self: center;
  }

  
  .upcoming-flyer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
  }

  .upcoming-flyer h2 {
    font-size: 40px;
  }

}

@media all and (max-width: 768px) {
  /*index page*/
  .navbar {
    display: none;
  }

  .topnav {
    display: block;
    overflow: visible;
  }

  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    color: black;
    font-weight: 600;
    font-size: 22px;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    color: black;
    border-radius: 0px;
  }

  .layout {
    display: flex;
    flex-direction: column;
  }

  .left-section {
    width: 65%;
  }

  .right-section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    }
    /*about page*/
  .about-layout {
    display: flex;
    flex-direction: column-reverse;
  }

  #gallery {
    width: 100%;
  }

  /*bookhouse*/

  .mobile-bookhouse {
    display: flex;
  }

  .desktop-bookhouse {
    display: none;
  }

  .bookhouse {
    text-align: center;
  }

  .bookhouse-label {
    text-align: center;
  }

  .image-form-container, .bookhouse, .section-one-bb {
    display: flex;
    flex-direction: column;
  }

  .signup h1 {
    text-align: center;
  }

  /*board games*/

  .game-container {
    display: flex;
    flex-direction: column;
  }

  .game-header {
    text-align: center;
    font-size: 20px;
  }

  /*contact*/ 

  .contact-section-two h2 {
    font-size: 60px;
    margin-top: 20px;
  }

  .icon-section p {
    font-size: 24px;
    margin-bottom: 10%;
    text-align: center;
}

.icon-text {
  font-size: 18px;
}

.contact-form {
  margin-right:auto;
}

.contact-sections {
  margin-left: auto;
}

.icon-contacts {
  display: flex;
  flex-direction: column;
}

.icon-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-text {
  align-items: center;
  justify-content: center;
}

.contact-section-two .contact-text img {
  top: -10px;
  right: 20%;
}

/*Past Events*/

.past-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donate-section-three {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flyer-layout {
  flex-direction: column;
}

.sponsor-layout {
  flex-direction: column;
}

/*Support*/

.form-style {
  display: flex;
  flex-direction: column;
}

.support-header {
  font-size: 13vw;
}

.image-text span {
  font-size: 3vw;
}

.package {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

/* Upcoming Events */

  .upcoming-flyer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
  }

}

@media all and (max-width: 420px) {
  .facebook-footer h2 {
    font-size: 20px;
  }
}





