.navbar {
  display: flex;
  flex-direction: column;
  background-color: #6b4d7a;
}

.navbar ul li {
  display: inline-block;
  position: relative;
}

.navbar ul li a {
  display: block;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 150px;
}

.navbar ul li.dropdown li {
  display: block;
}

.navbar ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 100;
  display: none;
}

.navbar ul li a:hover {
  background-color: #412e4a;

}

.navbar ul li:hover ul.dropdown {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 150px;
  border-radius: 0 0 15px 15px;
}

.navbar ul li h3 {
  color: black;
  text-align: center;
}

.navbar ul li h3:hover {
  color: white;
}

.navbar ul li:hover ul li.dropdown-radius a {
  border-radius: 0 0 15px 15px;
}

.topnav {
  background-color:#6b4d7a;
  overflow: hidden;
  display: none;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a h3, .dropdown .dropbtn {
  color: black;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
font-weight: 600;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover {
  background-color:#412e4a;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-list{
  justify-content: end;
  align-items:center;
  font-size: 20px;
}

.links {
  padding: 0px 20px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.right-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.mission {
  background-image: linear-gradient(90deg, #006cc5, #e8e895);
}

.origin {
  background-image: linear-gradient(#006cc5, #bb6e02ed);
}

.book {
  background-image: linear-gradient(#006cc5,#bb6e02ed, #7b0004);
}

.games {
  background-image: linear-gradient(#211ec9, #c577fd, #9200e0);
}

.vision-squares:hover {
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

button a h2:hover {
  color: black;
}

/*About page*/

.about-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
  min-height: 100vh;
}

.paragraph p {
  padding: 20px 0;
}

.paragraph {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
}

.about-layout img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
}

.about-layout .gallery-header h2 {
  color: black;
  font-size: 100px;
  padding: 50px 0px;
}

/*Mission and Vision*/

.mission-vision {
  display: flex;
  flex-direction: column;
}

.vision h2 {
  color: black;
  padding-bottom: 30px;
  font-size: 60px;
  text-transform: uppercase;
  font-family: serif;
}

.vision p{
  padding-bottom: 20px;
}

.vision {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  padding-top: 50px;
 
}

/*Brandons-bookhouse css*/

.signup h3 {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  margin-left: 5%;
  margin-top: 1%;
  font-size: 40px;
}

.signup h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Mulled Wine Season', sans-serif;
  font-size: 70px;
  font-weight: 400;
}

.bookhouse {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bookhouse ::placeholder {
  color: black;
  font-weight: 700;
  font-family: 'Mulled Wine Season', sans-serif;
}

.image-form-container {
display: flex;
}

.recource-logo {
  width: 100%;
}

.section-one-bb p{
  font-size: 23px;
  font-weight: 600;
  font-family: 'mulled wine season';
  padding-bottom: 10px;
}

.recource-left {
  padding: 20px;
}

.form-size {
  height: 55px;
  border-radius: 35px;
}

.recource-right {
  display: flex;
  flex-direction: column;
}


.form-two {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.mobile-bookhouse {
  display: none;
}

/*Board Games*/

.game-section {
  font-weight: 700;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 70px;
  margin-top: 50px;
}

.game-form {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.game-form label input {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  padding: 10px;
}

.game-header {
  font-size: 24px;
  text-align: center;
  padding: 30px;
}

.game-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-middle p {
  font-size: 38px;
  color: yellow;
  text-align: center;
  font-weight: 900;
}

.game-middle h2 {
  color: black;
}

.text-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
    top: 64%;
    left: 30%;
    transform: translate(-50px, -50px);
    font-size: 35px;
}

.games-submit {
  border: 1px solid black;
}

.games-submit:hover {
  background-color:#383fff;
  color: white;
}

/*Past Events*/

.past-header {
  text-align: center;
}

.past-events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.backpack, .two-women, .video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backpack h2, .two-women h2, .video h2 {
  padding: 20px;
  font-size: 30px;
  color: black;
  font-weight: 800;
}

.backpack p, .two-women p, .video p {
  font-size: 31px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}

.backpack {
  width: 75%;
  margin-top: 21%;
}

.holiday {
  background-color: black;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

/*Support*/

.support-nav-color {
  background-color: transparent;
  margin-top: 20px;
}

.support-nav-list {
  display: flex;
}

.support-nav-list li h3 {
  color: white;
}

.support-nav-list:hover {
  color: transparent;
}

.support-nav-list li a:hover {
  background-color: black;
}

.support-nav-list li:hover ul.dropdown {
  background-color: black;
}

.contact-nav {
  border: 2px solid white;
  border-radius: 50px;
  font-size: 18px;
}

.contact-nav a:hover {
  border-radius: 50px;
  background-color: transparent;
}

.support {
  display: flex;
  flex-direction: row;
}

.image-text span {
  display: flex;
  gap: 5px;
  color: yellow;
  margin-left: 35px;
}

.first-h3 {
  font-family: system-ui;
}

.second-h3 {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

.orange-background {
  background-image: linear-gradient(90deg, #ff3c00, #f99978c7);
}

.header-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
}

.support-header {
  color: yellow;
  font-size: 140px;
  font-family: serif;
}

.form-details {
  border: 2px solid black;
  width: 80%;
  border-radius: 20px;
  background-image: linear-gradient(-1deg, #ffc775, #f1974d, #ffc775,#f1974d, transparent);
  padding: 40px;
}

.form-style {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.support-labels {
  font-size: 20px;
  font-family: monospace;
}

.support-input {
  padding-top: 20px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #a9a9a994;
  border-radius: 0;
  padding-bottom: 5px;
}

.support-message {
  padding-top: 60px;
}

::placeholder {
  color: #14343439;
  font-weight:200;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
}

.support-submit {
  border: 1px solid black;
  padding: 20px 35px;
  font-size: 20px;
  display: flex;
  justify-self: end;
}

/*Donate Section*/

.donate-section-one {
  display: flex;
  gap: 40px;
}

.donate-words{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.donate-section-one div h1 {
  font-size: 50px;
  font-family: math;
  padding: 40px 0;
  font-weight: 300;
}

.donate-image {
  width: 55%;
}

.horizontal-msg div hr {
  width: 400px;
  border: 1px solid black;
}

.msg-style h2 {
  color: black;
  font-weight: 600;
}

.horizontal-msg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.donate-section-two div img {
  width: 75%;
}

.donate-section-three, .donate-section-two, .clip-art {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.clip-art {
  row-gap: 30px;
}

.donate-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.items-items {
padding: 50px 0;
margin-right: 25px;
}

.text-items, .text-items-one {
  border: 2px solid black;
  text-align: center;
  border-radius: 53px;
  padding: 35px;
  font-size: 26px;
  font-weight: 400;
  font-family: 'circular';
}

.text-items-one {
  margin-bottom: 25px;
}

.donate-section-three {
  position: relative;
}

.donate-section-three div img {
  width: 50%;
}

.section-three-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -48px;
}

.clip-art-clips {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 35px;
}

.clip-art-clips-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

.section-three-two {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-top: -15%;
}

.section-three-two p {
  align-self: center;
  font-size: 37px;
}

.body-donate {
  background-image: linear-gradient(90deg, #f8ff58, #d2a55a, #b57100);
}

/*Sponsorships Section*/

.sponsor-body {
  background-image: linear-gradient(180deg, #383fff 12%, #b561ad 59%, #6200a3 139%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.sponsor {
  position: relative;
}

.sponsor-img img{
  width: 25%;
  position: absolute;
}

.sponsor-title {
  text-align: center;
  font-size: 80px;
  padding-top: 150px;
  font-family: math;
}

.sponsor-title h3 {
  font-size: 40px;
  font-weight: 400;
}

.sponsor-two {
  display: flex;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
}

.package {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sponsor-font {
  background-color: black;
}

.sponsor-bot-box {
  border: 5px solid black;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor-bot-box p {
  font-size: 120px;
  font-weight: 900;
  font-family: fantasy;
  text-align: center;
}

.sponsor-bot-box ul li {
  padding-top: 35px;
  font-size: 24px;
}

.venmo-cash-app {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.qr-codes {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 12.5%;
  margin-top: -13%;
}

/*Contact*/

.contact-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Host Grotesk", serif;
}

.contact-nav-color {
  margin-right: 20%;
}

.contact-nav-color {
  background-color: transparent;
}

.contact-nav-color  ul li a {
  padding: 10px 10px;
}

.contact-nav-color  ul li:hover ul.dropdown{
  background-color: transparent;
}
.contact-nav-color  ul li a:hover{
  background-color: transparent;
}

.contact-nav-color, .contact-nav-color  ul li h3 {
  color: white;
}

.contact-nav-color ul li a :hover {
  background: transparent;
  font-weight: 900;
  color:#9b008b;
}

.contact-logo-container{
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact-logo-container img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 13%;
}

.contact-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 14%;
  font-family: "Host Grotesk", serif;
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  gap: 17px;
  margin-right: 12%;
}

.contact-form div h1 {
  margin: 20px 0px;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 75px;
  font-weight: 900;
}

.contact-form input {
  border-radius: 10px;
  border-width: 2px;
  font-size: 20px;
  padding: 28px;
  margin-left: 0px;
}

.contact-form textarea {
  border-radius: 10px;
  border-width: 2px;
  padding: 0px;
  margin-left: 0px;
}

.form-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.form-middle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-button {
  width: 33%;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 800;
  background-image: linear-gradient(90deg, #5b00c9, hsl(258deg 100% 63.18%));
  border: 2px solid black;
  color: white;
}

.contact-section-two {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.contact-section-two h2 {
  font-size: 80px;
}

.contact-text {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 20px;
}

.contact-section-two .contact-text img {
  width: 10%;
  padding-left: 15px;
  position: absolute;
  top: -60%;
  right: 56%;
}

.icons {
  background-image: linear-gradient(90deg, #01ba92, #01b992);
  border-radius: 25px;
  padding: 10px;
  border: solid black 2px;
  color: white;
  font-size: 24px;
}

.icon-text {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  font-size: 20px;
  font-weight: 100;
}

.icon-section p {
  font-size: 28px;
  margin-bottom: 10%;
}

.contact-text span {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.us-color {
  color: #30c5c9;
}

/*footer*/

footer {
  background-image: linear-gradient(48deg, black, #00000082);
  margin-top: 5%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  background-image: linear-gradient(48deg, black, #00000082);
}

.footer-container hr {
  width: 100%;
}

.facebook-footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.facebook-footer h2 {
  font-size: 30px;
  padding: 20px 10px;
}

.facebook-footer a:hover {
  color: #006cc5;
}

.copyright-footer {
  font-size: 18px;
  color: #a9a9a9;
  padding-top: 10px;
}
